body {
  background-color: #8bd9b4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  color: #1e1e26;
  text-align: center;
}
#game-area {
  width: 30%;
  height: 30vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: white;
}

.game-spot {
  width: 100%;
  border: 1px solid #1e1e26;
  height: 100%;
  font-size: 10vh;
  text-align: center;
}
.game-spot:hover {
  background-color: #aba0f2;
}
.game-spot:nth-child(3n + 1) {
  border-left: 0px;
}
.game-spot:nth-child(3n) {
  border-right: 0px;
}
.game-spot:nth-child(1),
.game-spot:nth-child(2),
.game-spot:nth-child(3) {
  border-top: 0px;
}
.game-spot:nth-child(7),
.game-spot:nth-child(8),
.game-spot:nth-child(9) {
  border-bottom: 0px;
}
#player-info-area{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
#player-info-area > *{
  display: inline;
}